.taskListContainer{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    margin-top: 20px;
    max-width: 100vw;
    height: 100%;
    flex-wrap: nowrap;
    overflow:hidden;
    overflow-x: auto;
}
.taskContent{
    width: 100%;
}

.taskList{
    min-width: 300px;
    width: 33%;
}

.contentContainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 20px;
    max-width: 100vw;
    height: 100%;
    overflow:hidden;
}
.taskPanel{
    height: fit-content;
    padding: 10px;
}