.comment-input-container{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.comment-item{
    height: fit-content !important;
}
.comment-item > *{
    height: fit-content !important;
}
.comment-preview{
    height: fit-content !important;
}